<ion-view view-title="Galerie">
    <ion-content>
        <!--<ion-refresher-->
        <!--pulling-text="Pull to refresh..."-->
        <!--refreshing-text="loading..."-->
        <!--on-refresh="loadMoreData()">-->
        <!--</ion-refresher>-->
        <div class="list">
            <div class="item" ng-repeat="photo in Gallery.photos">
                <img ng-src='{{photo.url}}' style='width:100%; position:relative;padding-bottom:"{{photo.padding}}%"' adjust-image>

            </div>
        </div>

        <!-- Infinite Scroll is activated here to load if more pages exist. -->
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="Gallery.more"></ion-infinite-scroll>
    </ion-content>
</ion-view>

